<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="someTestSection" type="UnityExtras.Converters.Tests.TestConfigurationSection, UnityExtras.Converters.Tests" />
  </configSections>

  <someTestSection TestString="d2r_6Hdr" TestInt="4973" />

  <appSettings>
    <add key="testKey" value="testValue" />
    <add key="testKey2" value="38460" />
  </appSettings>

  <connectionStrings>
    <add name="testConnection" providerName="testProvider" connectionString="data source=testServer; initial catalog=testDb" />
  </connectionStrings>
</configuration>